<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Users</title>
</head>
<body>
	<h1>Users</h1>


	<div>

		<form th:action="@{/users/{userId}/update(userId=${user.userId})}"
			method="post" th:object="${user}">
			<div>
				UserName: <input type="text" name="username"
					th:value="${user.username}" placeholder="Username" />
			</div>
			<div>
				Password: <input type="password" name="password"
					th:value="${user.password}" placeholder="Password" />
			</div>
			<div>
				Full Name: <input type="text" name="name" th:value="${user.name}"
					placeholder="Name" />
			</div>
		</form>
	</div>
	<div th:object="${user.address}">
		AddressLine 1: <input type="text" th:text="${address.addressLine1}" /><br />
		AddressLine 2: <input type="text" th:text="${address.addressLine12}" /><br />
		City: <input type="text" th:text="${address.city}" /><br /> Region:
		<input type="text" name="address.region" th:text="${address.region}"
			placeholder="Region" /><br /> Country: <input type="text"
			name="address.country" th:text="${address.country}"
			placeholder="Country" /><br /> ZipCode: <input type="text"
			name="address.zipCode" th:text="${address.zipCode}"
			placeholder="Zip Code" /><br />
	</div>
	<div>
		<input type="submit" value="Update User Account" />
	</div>
	<div>
		<form th:action="@{/users/{userId}/accounts(userId=${user.userId})}"method="post">

		<input type="submit" value="Delete User Account" />
		</form>
	</div>

	<div>
		<h1>Accounts</h1>
		<!-- Check if accounts is not empty -->
		<div th:if="${#lists.isEmpty(accounts)}">
			<p>No accounts found.</p>
			<!-- Optionally, display a link to create a new account -->
		</div>
		<div th:if="${not #lists.isEmpty(accounts)}">
			<div th:each="account : ${accounts}">
				<a th:href="@{/account/{accountId}(accountId=${account.accountId})}"
					th:text="${account.accountName}"></a>
			</div>
			<form th:action="@{/users/{userId}/accounts}" method="post">
				<!-- Add form fields for account creation if needed -->
				<input type="submit" value="Create New Account" />
			</form>
		</div>

	</div>